nodejs/node-red/exportFlow_2022_11_30.json
[{"id":"2715e520e01e6bea","type":"tab","label":"PLC","disabled":false,"info":"","env":[]},{"id":"ef41fda8ab49a792","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Cucina_C1_Seduto_Al_Tavolo","diff":true,"name":"Cucina_C1_Seduto_Al_Tavolo","x":200,"y":40,"wires":[["ae524c203d3e4ba1"]]},{"id":"03377c4fd10bb01b","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":40,"wires":[]},{"id":"16e883633df9bab1","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Cucina_C2_Presenza_Nella_Stanza","diff":true,"name":"Cucina_C2_Presenza_Nella_Stanza","x":220,"y":80,"wires":[["ccfa08b72d52653d"]]},{"id":"51716d26af652fc3","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":80,"wires":[]},{"id":"ab03a283094b959c","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Cucina_C3_Piatti_Sul_Tavolo","diff":true,"name":"Cucina_C3_Piatti_Sul_Tavolo","x":200,"y":120,"wires":[["31495984bdc84dbb"]]},{"id":"215455c93a0e3d5f","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":120,"wires":[]},{"id":"43f8c842bef8ea2d","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Cucina_C4_Chiusura_Frigor","diff":true,"name":"Cucina_C4_Chiusura_Frigor","x":200,"y":160,"wires":[["203b3ac8960f4f72"]]},{"id":"91f1b5f0cb1fc50b","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"60fc48e582274f36","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Camera_B1_Sdraiato_Sul_Letto","diff":true,"name":"Camera_B1_Sdraiato_Sul_Letto","x":210,"y":200,"wires":[["7a9d02943f463cdd"]]},{"id":"dd30ccf4fcd84386","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"d5af5f54c66752e5","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Camera_B2_Presenza_Nella_Stanza","diff":true,"name":"Camera_B2_Presenza_Nella_Stanza","x":230,"y":240,"wires":[["d5dffc5dd2d38028"]]},{"id":"cc5a58fd7bba5545","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"9c9b9b18df054c5c","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Sala_S1_Presenza_Sul_Divano","diff":true,"name":"Sala_S1_Presenza_Sul_Divano","x":210,"y":280,"wires":[["83c16b09eb008002"]]},{"id":"99e6140c6b7958a2","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"18b4eb98f0c560db","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Sala_S2_Presenza_Nella_Stanza","diff":true,"name":"Sala_S2_Presenza_Nella_Stanza","x":220,"y":320,"wires":[["413e10e9e5062133"]]},{"id":"1d706f45c27e49cb","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"1ebe81dacbe11cec","type":"s7 in","z":"2715e520e01e6bea","endpoint":"6f6693d566541b1f","mode":"single","variable":"Sala_S5_Passaggio_Camera_Inferiore","diff":true,"name":"Sala_S5_Passaggio_Camera_Inferiore","x":230,"y":360,"wires":[["535a0bedce42f4f1"]]},{"id":"650d79ba0adef002","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1070,"y":360,"wires":[]},{"id":"ae524c203d3e4ba1","type":"function","z":"2715e520e01e6bea","name":"Cucina_C1_Seduto_Al_Tavolo","func":"var sensor = global.get('Cucina_C1_Seduto_Al_Tavolo') || 0;\nsensor = msg.payload;\nglobal.set('Cucina_C1_Seduto_Al_Tavolo', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":40,"wires":[["03377c4fd10bb01b"]]},{"id":"ccfa08b72d52653d","type":"function","z":"2715e520e01e6bea","name":"Cucina_C2_Presenza_Nella_Stanza","func":"var sensor = global.get('Cucina_C2_Presenza_Nella_Stanza') || 0;\nsensor = msg.payload;\nglobal.set('Cucina_C2_Presenza_Nella_Stanza', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":80,"wires":[["51716d26af652fc3"]]},{"id":"31495984bdc84dbb","type":"function","z":"2715e520e01e6bea","name":"Cucina_C3_Piatti_Sul_Tavolo","func":"var sensor = global.get('Cucina_C3_Piatti_Sul_Tavolo') || 0;\nsensor = msg.payload;\nglobal.set('Cucina_C3_Piatti_Sul_Tavolo', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["215455c93a0e3d5f"]]},{"id":"203b3ac8960f4f72","type":"function","z":"2715e520e01e6bea","name":"Cucina_C4_Chiusura_Frigor","func":"var sensor = global.get('Cucina_C4_Chiusura_Frigor') || 0;\nsensor = msg.payload;\nglobal.set('Cucina_C4_Chiusura_Frigor', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":160,"wires":[["91f1b5f0cb1fc50b"]]},{"id":"7a9d02943f463cdd","type":"function","z":"2715e520e01e6bea","name":"Camera_B1_Sdraiato_Sul_Letto","func":"var sensor = global.get('Camera_B1_Sdraiato_Sul_Letto') || 0;\nsensor = msg.payload;\nglobal.set('Camera_B1_Sdraiato_Sul_Letto', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":200,"wires":[["dd30ccf4fcd84386"]]},{"id":"d5dffc5dd2d38028","type":"function","z":"2715e520e01e6bea","name":"Camera_B2_Presenza_Nella_Stanza","func":"var sensor = global.get('Camera_B2_Presenza_Nella_Stanza') || 0;\nsensor = msg.payload;\nglobal.set('Camera_B2_Presenza_Nella_Stanza', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":240,"wires":[["cc5a58fd7bba5545"]]},{"id":"83c16b09eb008002","type":"function","z":"2715e520e01e6bea","name":"Sala_S1_Presenza_Sul_Divano","func":"var sensor = global.get('Sala_S1_Presenza_Sul_Divano') || 0;\nsensor = msg.payload;\nglobal.set('Sala_S1_Presenza_Sul_Divano', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["99e6140c6b7958a2"]]},{"id":"413e10e9e5062133","type":"function","z":"2715e520e01e6bea","name":"Sala_S2_Presenza_Nella_Stanza","func":"var sensor = global.get('Sala_S2_Presenza_Nella_Stanza') || 0;\nsensor = msg.payload;\nglobal.set('Sala_S2_Presenza_Nella_Stanza', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":320,"wires":[["1d706f45c27e49cb"]]},{"id":"535a0bedce42f4f1","type":"function","z":"2715e520e01e6bea","name":"Sala_S5_Passaggio_Camera_Inferiore","func":"var sensor = global.get('Sala_S5_Passaggio_Camera_Inferiore') || 0;\nsensor = msg.payload;\nglobal.set('Sala_S5_Passaggio_Camera_Inferiore', sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":360,"wires":[["650d79ba0adef002"]]},{"id":"fd0bf72d607c6877","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1310,"y":720,"wires":[]},{"id":"8c612a73c43142d9","type":"mongodb in","z":"2715e520e01e6bea","mongodb":"882f3475aeba013d","name":"events","collection":"alarm_clocks","operation":"find","x":310,"y":580,"wires":[["18be4369b5d6b6f0"]]},{"id":"bf2c5f361d0d8b19","type":"function","z":"2715e520e01e6bea","name":"Update Image","func":"msg.payload = \"\";\nmsg.socketIOEvent = \"app_message\";\n\nif (msg.image != \"\"){\n\n    msg.payload = msg.image;\n    \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":720,"wires":[["9653463070d441c4","fd0bf72d607c6877","1284d52c763850c0"]]},{"id":"48deb0d0891d8f83","type":"socketio-in","z":"2715e520e01e6bea","name":"","server":"93447a7b26c64b3a","rules":[{"v":"app_message"}],"x":110,"y":760,"wires":[["0dd960f642566b67"]]},{"id":"1284d52c763850c0","type":"socketio-out","z":"2715e520e01e6bea","name":"","server":"93447a7b26c64b3a","x":1340,"y":760,"wires":[]},{"id":"0dd960f642566b67","type":"switch","z":"2715e520e01e6bea","name":"checkEvent","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"app_message","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":760,"wires":[["6450b3d86096b498"]]},{"id":"6450b3d86096b498","type":"function","z":"2715e520e01e6bea","name":"new message","func":"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":760,"wires":[["1284d52c763850c0","fd0bf72d607c6877"]]},{"id":"cd486d83cb45fa64","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"socketIOEvent","v":"app_message","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"pranzo.png","payloadType":"str","x":120,"y":800,"wires":[["0dd960f642566b67"]]},{"id":"2f1987a447af6d09","type":"inject","z":"2715e520e01e6bea","name":"EverySecond","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":580,"wires":[["8c612a73c43142d9"]]},{"id":"9c5d21b3a0e855fe","type":"mongodb out","z":"2715e520e01e6bea","mongodb":"882f3475aeba013d","name":"Save","collection":"alarm_clocks","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1150,"y":560,"wires":[]},{"id":"18be4369b5d6b6f0","type":"function","z":"2715e520e01e6bea","name":"Verify_Conditions","func":"var value_cucina_c1_seduto_al_tavolo            = global.get('Cucina_C1_Seduto_Al_Tavolo') || false;\nvar value_cucina_c2_presenza_nella_stanza       = global.get('Cucina_C2_Presenza_Nella_Stanza') || false;\nvar value_cucina_c3_piatti_sul_tavolo           = global.get('Cucina_C3_Piatti_Sul_Tavolo') || false;\nvar value_cucina_c4_chiusura_frigor             = global.get('Cucina_C4_Chiusura_Frigor') || false;\nvar value_camera_b1_sdraiato_sul_letto          = global.get('Camera_B1_Sdraiato_Sul_Letto') || false;\nvar value_camera_b2_presenza_nella_stanza       = global.get('Camera_B2_Presenza_Nella_Stanza') || false;\nvar value_sala_s1_presenza_sul_divano           = global.get('Sala_S1_Presenza_Sul_Divano') || false;\nvar value_sala_s2_presenza_nella_stanza         = global.get('Sala_S2_Presenza_Nella_Stanza') || false;\nvar value_sala_s5_passaggio_camera_inferiore    = global.get('Sala_S5_Passaggio_Camera_Inferiore') || false;\n\n\n\nlet data = msg.payload;\n\nmsg.image = \"\";\nmsg.use_speech = false;\nmsg.string_speech = \"\";\n\n\nmsg.event = {};\n\ndata.forEach(event => {\n    let dateNow = new Date();\n    let dateStartEvent = new Date();\n    let dateStopEvent = new Date();\n\n    dateStartEvent.setHours(event.time_start_alarm.getHours());\n    dateStartEvent.setMinutes(event.time_start_alarm.getMinutes());\n\n    dateStopEvent.setHours(event.time_stop_alarm.getHours());\n    dateStopEvent.setMinutes(event.time_stop_alarm.getMinutes());\n\n    if (((dateStartEvent <= dateNow) && (dateNow <= dateStopEvent)) || event.allday_alarm ) {\n\n        if ((event.event_done == false) || event.allday_alarm)  {\n            \n            if (((event.value_cucina_c1_seduto_al_tavolo == value_cucina_c1_seduto_al_tavolo) || (!event.use_cucina_c1_seduto_al_tavolo)) &&\n                ((event.value_cucina_c2_presenza_nella_stanza == value_cucina_c2_presenza_nella_stanza) || (!event.use_cucina_c2_presenza_nella_stanza)) &&\n                ((event.value_cucina_c3_piatti_sul_tavolo == value_cucina_c3_piatti_sul_tavolo) || (!event.use_cucina_c3_piatti_sul_tavolo)) &&\n                ((event.value_cucina_c4_chiusura_frigor == value_cucina_c4_chiusura_frigor) || (!event.use_cucina_c4_chiusura_frigor)) &&\n                ((event.value_camera_b1_sdraiato_sul_letto == value_camera_b1_sdraiato_sul_letto) || (!event.use_camera_b1_sdraiato_sul_letto)) &&\n                ((event.value_camera_b2_presenza_nella_stanza == value_camera_b2_presenza_nella_stanza) || (!event.use_camera_b2_presenza_nella_stanza)) &&\n                ((event.value_sala_s1_presenza_sul_divano == value_sala_s1_presenza_sul_divano) || (!event.use_sala_s1_presenza_sul_divano)) &&\n                ((event.value_sala_s2_presenza_nella_stanza == value_sala_s2_presenza_nella_stanza) || (!event.use_sala_s2_presenza_nella_stanza)) &&\n                ((event.value_sala_s5_passaggio_camera_inferiore == value_sala_s5_passaggio_camera_inferiore) || (!event.use_sala_s5_passaggio_camera_inferiore))) {\n            \n                event.event_done = true;   \n            }\n            else{\n                //console.log(event.img_name);\n                msg.image = event.img_name;\n                msg.event = event;\n                msg.use_speech = event.use_speech;\n                msg.string_speech = event.string_speech;\n            }\n        }\n    }\n    else {\n        event.event_done = false;\n    }\n\n    node.send([event,null]);\n});\n\n/*\nif (isAlarmClockPresent == false) {\n    io.emit('app_message', \"\");\n}*/\n\n\n\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":580,"wires":[["a653ed5b20c3600e","9c5d21b3a0e855fe"],["bf2c5f361d0d8b19"]]},{"id":"a653ed5b20c3600e","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":1150,"y":500,"wires":[]},{"id":"b16b5bc4821d5d45","type":"alexa-remote-init","z":"2715e520e01e6bea","name":"","account":"60175061fb7a5f42","option":"initialise","x":180,"y":1020,"wires":[[]]},{"id":"5b6e1ea473aac4a3","type":"alexa-remote-routine","z":"2715e520e01e6bea","name":"","account":"60175061fb7a5f42","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["7C25078E1A882B97DE2D9153C761BD78"]}},"x":1960,"y":840,"wires":[[]]},{"id":"b1a7ab08bda79239","type":"inject","z":"2715e520e01e6bea","name":"leonardo è ora di alzarsi dal letto","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"leonardo è ora di alzarsi dal letto, Bravissimo","payloadType":"str","x":1330,"y":900,"wires":[["29b4c43a70ce4d25"]]},{"id":"463258d72ae76989","type":"msg-resend","z":"2715e520e01e6bea","interval":"1","intervalUnit":"secs","maximum":"5","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"","x":690,"y":1020,"wires":[["ce147b819e8107b7"]]},{"id":"ce147b819e8107b7","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":870,"y":1020,"wires":[]},{"id":"70ae2365defa3cd3","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"pluto","payloadType":"str","x":350,"y":1020,"wires":[["341bb295ebf90167"]]},{"id":"341bb295ebf90167","type":"rbe","z":"2715e520e01e6bea","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":510,"y":1020,"wires":[["463258d72ae76989","b8cdeabb99a31f61"]]},{"id":"b8cdeabb99a31f61","type":"debug","z":"2715e520e01e6bea","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":670,"y":1100,"wires":[]},{"id":"9653463070d441c4","type":"rbe","z":"2715e520e01e6bea","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":930,"y":840,"wires":[["96785e4c66edcadc"]]},{"id":"96785e4c66edcadc","type":"function","z":"2715e520e01e6bea","name":"send name","func":"msg.payload = \"\";\n\nif (msg.use_speech == true){\n    msg.payload = msg.string_speech;\n    \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":840,"wires":[["29b4c43a70ce4d25"]]},{"id":"3fbbae6612bb2f01","type":"inject","z":"2715e520e01e6bea","name":"Leonardo Preparati, Vai a vestirti","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Leonardo Preparati, Vai a vestirti","payloadType":"str","x":1330,"y":940,"wires":[["29b4c43a70ce4d25"]]},{"id":"56b2acd5ee706cef","type":"hue-bridge-node","z":"2715e520e01e6bea","name":"","bridge":"30668da82b19d00d","autoupdates":true,"skipglobalevents":false,"initevents":false,"x":650,"y":1240,"wires":[[]]},{"id":"2f3f5490177f2e0d","type":"hue-light","z":"2715e520e01e6bea","name":"Hue lightstrip outdoor 1","bridge":"30668da82b19d00d","lightid":"7c53b1a9-2eba-41e8-9d1c-a388e6fae2de","colornamer":true,"skipevents":false,"initevents":false,"x":1270,"y":1220,"wires":[[]]},{"id":"55f6fa114ba2e66e","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":1010,"y":1220,"wires":[["2f3f5490177f2e0d"]]},{"id":"f2af9faa3e4c2da1","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"toic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"color\":\"random\"}","payloadType":"json","x":1010,"y":1260,"wires":[["2f3f5490177f2e0d"]]},{"id":"123747a35713d8b1","type":"server-state-changed","z":"2715e520e01e6bea","name":"","server":"56916228889abe42","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.leonardo","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"id","propertyType":"msg","value":"","valueType":"triggerId"}],"x":380,"y":1420,"wires":[["b400b0d704b1949a"],["3864890d59e989ce"]]},{"id":"b400b0d704b1949a","type":"debug","z":"2715e520e01e6bea","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":1400,"wires":[]},{"id":"3864890d59e989ce","type":"debug","z":"2715e520e01e6bea","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":1440,"wires":[]},{"id":"9b08d77eb57b6c64","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":1640,"wires":[["e515ad6fa014520a"]]},{"id":"b08a895c2b867cfe","type":"debug","z":"2715e520e01e6bea","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":1640,"wires":[]},{"id":"e515ad6fa014520a","type":"ewelink-devices","z":"2715e520e01e6bea","name":"devidec","auth":"5010bbca9bc304ca","x":580,"y":1640,"wires":[["b08a895c2b867cfe"]]},{"id":"57a5c6e468619499","type":"ewelink-power-state-write","z":"2715e520e01e6bea","name":"Uno","deviceId":"10017d5849","channel":1,"auth":"5010bbca9bc304ca","x":590,"y":1920,"wires":[[]]},{"id":"23b25192e92f3f67","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":370,"y":1900,"wires":[["57a5c6e468619499"]]},{"id":"947c592afc703e39","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":370,"y":1960,"wires":[["57a5c6e468619499"]]},{"id":"e217e5f52b94aa7c","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"toggle","payloadType":"str","x":370,"y":2020,"wires":[["57a5c6e468619499"]]},{"id":"87b56618329bf77c","type":"inject","z":"2715e520e01e6bea","name":"","props":[{"p":"resend_ignore","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1250,"y":980,"wires":[["29b4c43a70ce4d25"]]},{"id":"29b4c43a70ce4d25","type":"msg-resend","z":"2715e520e01e6bea","interval":"15","intervalUnit":"secs","maximum":5,"bytopic":false,"clone":true,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"","x":1670,"y":840,"wires":[["5b6e1ea473aac4a3","0190926581b002e9"]]},{"id":"0190926581b002e9","type":"debug","z":"2715e520e01e6bea","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1940,"y":920,"wires":[]},{"id":"ef7c8fc9a00fb136","type":"ewelink-event-listener","z":"2715e520e01e6bea","name":"Evento_Uno","deviceId":"10017d5849","auth":"5010bbca9bc304ca","x":570,"y":1760,"wires":[["04a0af583df0d959"]]},{"id":"04a0af583df0d959","type":"debug","z":"2715e520e01e6bea","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":1760,"wires":[]},{"id":"6f6693d566541b1f","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.1.1","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"PLC1","vartable":[{"addr":"DB1,X0.0","name":"Cucina_C1_Seduto_Al_Tavolo"},{"addr":"DB1,X0.1","name":"Cucina_C2_Presenza_Nella_Stanza"},{"addr":"DB1,X0.2","name":"Cucina_C3_Piatti_Sul_Tavolo"},{"addr":"DB1,X0.3","name":"Cucina_C4_Chiusura_Frigor"},{"addr":"DB1,X2.0","name":"Camera_B1_Sdraiato_Sul_Letto"},{"addr":"DB1,X2.1","name":"Camera_B2_Presenza_Nella_Stanza"},{"addr":"DB1,X4.0","name":"Sala_S1_Presenza_Sul_Divano"},{"addr":"DB1,X4.1","name":"Sala_S2_Presenza_Nella_Stanza"},{"addr":"DB1,X4.4","name":"Sala_S5_Passaggio_Camera_Inferiore"}]},{"id":"882f3475aeba013d","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"domotica","name":"domotica"},{"id":"93447a7b26c64b3a","type":"socketio-config","port":"1881","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"60175061fb7a5f42","type":"alexa-remote-account","name":"Alexa","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"C:\\Users\\mirco\\Documents\\Alexa\\alexa.cookie","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","amazonPage":"amazon.it","acceptLanguage":"it-IT","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"30668da82b19d00d","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.2","key":"tNp3QAwm-SqjwdawB26DqGFqfxYBkPXEzK3diN-O","worker":"10","autoupdates":true,"disableupdates":false},{"id":"56916228889abe42","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"5010bbca9bc304ca","type":"ewelink-credentials"}]